@{
    ViewData["Title"] = "Collaboration";
    @section Styles {
        <link href="@Url.Content("~/css/collaboration.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/description.css")" rel="stylesheet" type="text/css" />
    }
}

<div class="section">
    <div class="title">
        <img src="../css/images/company.png">
        <h1>Collaboration</h1>
    </div>
    <div class="description d-inline-block text-wrap text-justify">
        <h2 class="catchphrase">Become Our Partner!</h2>
        <p>There are two ways to cooperate with us</p>
        <ul>
            <li>Limited-time contracts</li>
            <li>Permanent representative in the specified project</li>
        </ul>
        <p>We can offer you to earn 40% of the total contract amount</p>
        <ul>
            <li>Transfer of 20% will be made to your account after 2 weeks since we publish the collaboration project</li>
            <li>Other transfer may be made. It depends on the success of the collaboration</li>
            <li>Recarding the method of payment, we are ready to discuss with you the most appropriate
                and convenient way you would like to receive your part.
            </li>
        </ul>
    </div>
</div>

<div class="container con-deco">
    <div class="row">
        <div class="col">
        </div>
        <img class="col-6 deco-pattern" src="../css/images/deco.png">
    </div>
</div>
