@{
    ViewData["Title"] = "Product";
    @section Styles {
        <link href="@Url.Content("~/css/product.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/description.css")" rel="stylesheet" type="text/css" />
    }
}

<div class="section">
    <div class="title">
        <img src="../css/images/company.png">
        <h1>Our Products</h1>
    </div>
    <div class="flex-container">
            <figure class="figure">
                <img src="../css/images/peebojump.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-center fig-title">PeeboJump</figcaption>
                <figcaption class="figure-caption text-center fig-desc">Explore the world in ice that was once unfrozen. Find a way to return the world to its former glory.</figcaption>
            </figure>
            <figure class="figure">
                <img src="../css/images/maestroproduct.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-center fig-title">Maestro Of Time</figcaption>
                <figcaption class="figure-caption text-center fig-desc">The only one who can control time in this world is not only the divine being. Walk through this journey of finding its meaning.</figcaption>
            </figure>
            <figure class="figure">
                <img src="../css/images/bingqilinproduct.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-center fig-title">Bingqilin</figcaption>
                <figcaption class="figure-caption text-center fig-desc">Explore the world in ice that was once unfrozen. Find a way to return the world to its former glory.</figcaption>
            </figure>
    </div>
</div>

<div class="container con-deco">
    <div class="row">
        <div class="col">
        </div>
        <img class="col-6 deco-pattern" src="../css/images/deco.png">
    </div>
</div>
